<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="container">
      <div class="card" style="width: 18rem">
        <img
          src="<%= productDetail.image %>"
          class="card-img-top"
          alt="image"
        />
        <h5 class="card-title"><%= productDetail.name %></h5>
        <p class="card-text"><%= productDetail.description %></p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Código de producto: <%= productDetail.code %>
          </li>
          <li class="list-group-item">
            Unidades en Stock: <%= productDetail.stock %>
          </li>
        </ul>
        <div class="card-footer">Precio: $ <%= productDetail.price %></div>
      </div>
    </div>
    <a href="/api/products/" class="btn btn-primary titles">Volver</a>
  </body>
</html>
