<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <div class="container">
      <h2>Productos</h2>
      <% for (let i = 0; i< products.length; i++) { %>
      <div class="card" style="width: 18rem">
        <a href="./detail/<%= products[i].id %>">
          <img
            src="<%= products[i].image %>"
            class="card-img-top"
            alt="image"
          />
          <div class="card-body">
            <h5 class="card-title"><%= products[i].name %></h5>
            <p class="card-text"><%= products[i].description %></p>
            <a href="./edit/<%= products[i].id %>" class="btn btn-primary"
              >Actualizar</a
            >
            <form
              action="/api/products/delete/<%=products[i].id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-primary">Eliminar</button>
            </form>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </body>
</html>
