<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <div class="container">
      <form action="/api/products/edit?_method=PUT" method="POST">
        <h2>Actualizar producto</h2>
        <div class="mb-3">
          <label class="form-label">Ingrese el nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= productToEdit.name %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Ingrese una descripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            value="<%= productToEdit.description %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Ingrese el código</label>
          <input
            type="text"
            class="form-control"
            id="code"
            name="code"
            value="<%= productToEdit.code %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Imagen</label>
          <input
            type="url"
            class="form-control"
            id="image"
            name="image"
            value="<%= productToEdit.image %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Precio</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            value="<%= productToEdit.price %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Stock</label>
          <input
            type="number"
            class="form-control"
            id="stock"
            name="stock"
            value="<%= productToEdit.stock %>"
          />
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </body>
</html>
